@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "react-loading-skeleton/dist/skeleton.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #f0f0f0; /* Light gray track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #4b5563; /* Gray-700 from Tailwind */
	border-radius: 10px;
	border: 2px solid #f0f0f0; /* padding around thumb */
}

/* Firefox scrollbar styling */
.custom-scrollbar {
	scrollbar-width: thin;
	/* border-radius: 10px; */
	scrollbar-color: #4b5563 #f0f0f0;
}
